{% extends 'layout.html' %} 
{% block title %} Favourites {% endblock %}
{% block body %} {% if data == None %} <div class="center"><p>You don't have movies or series in favourites.</p><p>Consider addig some</p></div> {% else %}
<div class="wrapper">
    <div class="links">
		<h2>Favourites</h2>
	</div>
	<div class="view_main">
		<div class="view_wrap grid-view" >
            {% for element in data %}
			<div class="view_item" style="border: 0;">
				<div class="vi_left">
					<a href="/title/{{element['movie_id']}}">
						<img src={{element['imageurl']}} alt="" class="image img-responsive" width="90%" >
					</a>
				</div>
				<div class="vi_right" >
					<a href="/title/{{element['movie_id']}}">{{element['title']}}</a>
					<form action="/favlist" method="post" style="text-align: center;">
                        <input name="remove" type="hidden" value={{element['movie_id']}} >
                        <input type="submit" class="btn" value="Remove From Favourites">
                    </form>
				</div>
			</div>
			{% endfor %}
			</div>

		</div>
	</div>
</div>
{% endif %} {% endblock body%}